&uart1 {
	status = "okay";

	wifi: esp-wifi {
		compatible = "espressif,esp-at";
		power-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
		label = "WIFI";
	};
};

&i2c1 {
	status = "okay";

	sensor: bme680@77 {
		compatible = "bosch,bme680";
		reg = <0x77>;
		label = "SENSOR";
	};
};
